<p>Block Number</p>
<input [(ngModel)]="blockNumber"/>
@if (blockData.isLoading()) {
  <p>Loading...</p>
} @else {
  @if (blockData.value()) {
    @if (blockData.value().transactions) {
      <p>Transactions: {{ blockData.value().transactions.length }}</p>
      @for (transaction of blockData.value().transactions; track transaction.trx.id) {
        <div>
          <p>Transaction ID: <strong>{{ transaction.trx.id }}</strong></p>
          <div style="margin-left: 20px">
            @if (transaction.trx.transaction) {
              @for (action of transaction.trx.transaction.actions; let i = $index; track $index) {
                <p>Action {{ i + 1 }} - {{ action.account }}::{{ action.name }}</p>
                <pre>{{ action.data | json }}</pre>
              }
            }
          </div>
        </div>
      }
    }
  }
  @if (blockData.error()) {
    <p>Error</p>
    <div>{{ errorString() }}</div>
  }
}
